### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Editors, tools and OS's
.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
config.codekit
*.sublime-project
*.sublime-workspace
nbproject
bower_components
composer.lock

### Prestashop ###

# Cache, temp and personal files
cache/*
download/*
img/*
log/*
upload/*
vendor/*

admin9757ogwpm/autoupgrade/*
admin9757ogwpm/backups/*
admin9757ogwpm/import/*
admin9757ogwpm/export/*

themes/*/cache/*
admin9757ogwpm/themes/*/cache/*

# Config
config/settings.inc.php
config/settings.old.php
config/xml/*
!config/xml/themes/default.xml

# Themes and modules
themes/*
!themes/coop-la-meute/
modules/*
!modules/makeprivateshop/

# Translations and emails templates
translations/*
mails/*
!mails/fr/

# MISC
*sitemap.xml
robots.txt
