.dynamic-tab-pane-control.tab-pane {
	position:relative;
	width:100%;		/* width needed weird IE bug */
	margin-right:-2px;	/* to make room for the shadow */
}

.dynamic-tab-pane-control .tab-row .tab {
	margin:0 !important;
	padding:0;
	height:30px;
	border:none;
	border-bottom:1px solid #666;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	background-color:#fff;
	border-bottom:1px solid #DFD5C3;
	color:#000;
	font-weight:bold;
	cursor:default;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(255,255,240)),
	    color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,240) 0%,
	    rgb(255,255,255) 100%
	);
}

.dynamic-tab-pane-control .tab-row .tab a {
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	height:18px;
	line-height:16px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;
	outline:0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.dynamic-tab-pane-control .tab-row .tab a:hover {
	background-color:#F7F7F7;
	color:#333;
}


.dynamic-tab-pane-control .tab-page {
	clear:both;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	background:rgb( 252, 252, 254 );
	z-index:2;
	position:relative;
	font:11px Tahoma;
	color:Black;
	filter:	progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
			progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
	/*244, 243, 238*/
	/* 145, 155, 156*/
	padding:10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:1;
	white-space:nowrap;
	height:30px;
	border-bottom:1px solid #666;
}
.tab-page h3{color:#09F;margin-top: 1em;border-bottom: #ddd 1px solid}
.tab-page p, .tab-page label, .tab-page ul.license{font-size: 1.2em}
.tab-page p{padding: 0}
.tab-page label{width:300px}
.tab-page label span{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #edf7fb;
border-color: -moz-use-text-color -moz-use-text-color #d8edf7;
border-image: none;
border-radius: 3px;
border-style: none none solid;
border-width: medium medium 1px;
color: #3586ae;
font-size: 13px;
padding: 0 5px;
text-decoration: none;
}
.tab-page label span:hover{cursor: help}
.tab-page div.margin-form{padding-left:310px}
.tab-page div.info, .tab-page ul.license, .tab-page ol li, .tab-page div.alerte{letter-spacing:.8pt}
.tab-page div.info {background: url("../img/get_info_32.png") no-repeat scroll 6px 6px #BDE5F8;border: 1px solid #00529B;border-radius: 3px;color: #00529B;font-family: Arial,Verdana,Helvetica,sans-serif;font-size: 12px;margin-bottom: 15px;min-height: 32px;padding: 0 5px 5px 45px}
.tab-page div.alerte {background: url("../img/alerte.png") no-repeat scroll 6px 6px #FFE6E6;border: 1px solid #DF7B7B;border-radius: 3px;color: #DF7B7B;font-family: Arial,Verdana,Helvetica,sans-serif;font-size: 12px;margin-bottom: 15px;min-height: 32px;padding: 0 5px 5px 45px}
.tab-page a.redLink{color:#900;text-decoration:underline}
.tab-page a.redLink:hover{color:#900;text-decoration:none}
.tab-page ol li p{display: inline;font-size: inherit}
.tab-page > ol > li{border-top:1px solid #bababa;margin:0;padding:5px}
.tab-page > ol > li:first-child{border-top:none}
.tab-page ol {counter-reset: item;list-style: none outside none;padding-left: 20px}
.tab-page ol li:before {font-size:1.em;content: counters(item, ".", decimal) ". ";counter-increment: item}
.tab-page ul.license{padding-left: 25px;list-style: square inside}
.tab-page select option:disabled{color:#aaa}